 @import url(https://fonts.googleapis.com/css?family=Titillium+Web:400,700);


 #map{
       width: 100%;
       height: 100%;
        background:white;
    }

      body{
        margin:0px;
          height:100%;
          width:100%
      }

      html{
          margin:0px;
          height:100%;
          width:100%

      }

.leaflet-control-layers{
          top: 10px;
          border-radius:0px;
          width:60px;
          left:10px;
      }

.leaflet-control-zoom leaflet-bar leaflet-control{
          border-radius:0px;
      }
.leaflet-control-zoom{
    display: block;
}
.custom .leaflet-popup-tip,
.custom .leaflet-popup-content-wrapper {
    width: auto*0.8;
    background: #000000;
    color: #ffffff;
    font-family: 'Titillium Web', sans-serif;
    font-size:15px;
    border-radius: 0px;
}
.custom a{
    font-family: 'Titillium Web', sans-serif;
    text-decoration:none;
    color: #fff;
    margin:0;
    font-weight:auto;
}
.custom a:hover {
    color: #000;
    background: #fff;
}
.custom h1{
    font-family: 'Titillium Web';

    color: #fff;
    font-weight:auto;
}
.custom img{
    max-width: 100% !important;
    max-height: 70% !important;
}
.leaflet-bottom .leaflet-control-scale {
    opacity: 0;
}
#popupTuto{
    position: absolute;
    width: 200px;
    height: 60px;
    padding: 10px;
    color: #fff;
    display: block;
    font-family: 'Titillium Web', sans-serif;
    font-size: 20px;
    top:70px;
    right: 50px;
    background-image:  url("../img/popupInfo.png");
    background-size:100%;
    background-repeat: no-repeat;

}

#soundIcon{
    opacity: 0.0;
    position: absolute;
    width: 70px;
    height: 70px;
    color: #fff;
    bottom: 70px;
    left: 20px;
    background-image:  url("../img/sound.png");
    background-size:100%;
    background-repeat: no-repeat;

}


#icone {
    position: absolute;
    top:10px;
    left:75px;
    opacity: 0.9;
    filter: alpha(opacity=90);
    padding-left: 5px;
    padding-top: 5px;
    background: rgba(0, 0, 0, 0.9);
}
#icone img{
    width:180px;
}

#icone:hover {

    opacity: 1.0;
    filter: alpha(opacity=100);
    /* For IE8 and earlier */
    /* RGBa with 0.6 opacity */
    background: rgba(0 , 0, 0, 1);
}

#icone_ihr {
    position: absolute;
    top :70px;
    left:75px;
    width:180px;
    opacity: 0.9;
    filter: alpha(opacity=90);
    padding-right: 5px;
    /*padding-top: 5px;*/
    background: rgba(0, 0, 0, 0.9);
    /*width: 180px;*/
    color:white;
    font-family: 'Titillium Web', sans-serif;
    font-size: 1em;
    height: 50px;
}
#icone_ihr:hover {

    opacity: 1.0;
    filter: alpha(opacity=100);
    /* For IE8 and earlier */
    /* RGBa with 0.6 opacity */
    background: rgba(0 , 0, 0, 1);
}
#icone_ihr img{
    height:41px;
}
#icone_ihr a{
    color:white;
    font-family: 'Titillium Web', sans-serif;
    font-size: 1.1em;
    text-decoration:none;
}
#icone_ihr td{
    line-height: 130%;
}

#down{
          position:absolute;
          bottom:10px;
          left:10px;
          background:white;
          box-shadow: 0px 0px 4px gray;
          /*border:1px gray solid;*/
          margin:white;
          width:376px;
          font-family: "sans-serif", "arial";
          font-size:12px;
          padding:5px;
      }

#down a{
          text-decoration:none;
          color:black;
          display:block;

      }

.rc{
          width:13px;
          margin-right:5px;
      }



#menu {

    z-index: 1;
    position: absolute;
    max-width: 100%;
    right: 0px;
}

.menu-container{
    position: relative;
    z-index: 1111;
    margin: 10px;
    width: auto;
    padding: 20px;
    box-shadow: 0 1px 5px rgba(0,0,0,0.4);
    background-color: rgba(0,0,0,0.9);
}

.data-container{
  display:inline-block;
}

#timeline {
  padding: 10px;
  position:absolute;
  z-index:1;
  background-color:black;
  margin:10px;
  left: 0px;
  bottom: 15px;
  width:50%;
  opacity:0.9;
}

h1{
  font-family: 'Titillium Web', sans-serif;
  padding:10px 5px;
  text-align:center;
}

#menu h1{
  color: #000;
  background-color:#fff;
  margin-bottom:15px !important;
}

#expand_bar h1{
  color: #fff;

}

h2 {
  font-family: 'Titillium Web', sans-serif;
  color: #fff;
  font-size:32px;
  margin:0;
  font-weight:normal;
}

h1.title{
  font-weight: 400;
  font-size: 35px;
  margin: 0px;
  line-height: 1em;

}

h1.subtitle{
  font-family: 'Titillium Web', sans-serif;
  font-weight: 700;
  color: #ccc;
  font-size: 4em;
  margin: 0px;
  line-height: 1em;
}

.line{
  border:1px solid white;
  color:#fff;
}
.line_bold{
  border:2px solid white;
  color:#fff;
}

.counter{
  font-family: 'Titillium Web', sans-serif;
  font-weight: 400;
  color: #e23130;
  font-size: 45px;
  display:inline-table;
}

.plane{
  fill: #fff;
  width:80px;
  float:left;
}

.morts_dia {
  color:#e23130;
  margin-left:10px;
}

.data{
  float:left;
  margin-right:10px;
  font-family: 'Titillium Web', sans-serif;
  color: #fff;
  margin:0;
  font-weight:normal;
  font-size: 32px;
}



.webdoc .leaflet-right{

  left:0 !important;
  right:auto !important;
}



 .leaflet-right .leaflet-control{
  margin-top:0px !important;
  padding:10px 0px !important;
}

.leaflet-right .leaflet-control{

  margin-right:20px;
}

.leaflet-control-layers{
  background-color:rgba(0,0,0,0.9); !important;
}

.leaflet-control-layers-list{
  color:#fff !important;
}

.leaflet-control-layers-toggle{
  width:60px !important;
}

.leaflet-control-layers-expanded{
  font-family: 'Titillium Web', sans-serif !important;
  width:200px !important;
  font-size:18px;
}

.leaflet-control-zoom a, .leaflet-control-zoom a:hover{
  width:60px;
  height:60px;
  background-color:#000;
  color:#fff;
  line-height: 60px;
  border-radius:0px !important;
}
.leaflet-control-search .search-button{
    opacity: 0.9;
}



#ButtonPlay{
  float: left;
  margin-left: -70px;
  background-image: url("../img/bombardeigs_icons.png");
  background-repeat: no-repeat;
  width: 25px;
  background-position: 0px -7px;
  cursor: pointer;
  height: 17px;
}

.timeline-container{
position: absolute;
width: 100%;
bottom: 10px;
}

#timeline{
position: relative;
z-index: 1111;
margin: 10px;
width: auto;
padding-left: 100px;
box-shadow: 0 1px 5px rgba(0,0,0,0.4);
}

#expand_bar {
  position: absolute;
  z-index: 1;
  right: 10px;
  top: 10px;
  background-color:#000;
  padding: 0px 10px;
  box-shadow: 0 1px 5px rgba(0,0,0,0.4);
  margin-left: 80px;
}
#searchIcone{
    position: absolute;
    left:10px;
    top:140px;
    background-color: #000;
    display:block;
    width: 30px;
    height: 30px;

}
#searchIconeIn{


    background-image: url("../img/bombardeigs_icons.png") no-repeat -70px 0px;
    width: 100%;
    height: 100%;


}
#searchBoxDiv{
    position: absolute;
    left:10px;
    top:140px;
    display:none;
    padding: 10px;
    background:#000;
    border-radius:0px;
}

#searchIcone:hover ~ #searchBoxDiv {
    display:block;
}
#searchBoxDiv:hover{
    display:block;
}
#searchBox{
    border-radius:2px;
    height: 40px;

}
/*
#searchBox{
    position: absolute;
    left:10px;
    top:140px;
    height: 30px;
}
*/
#expand_bar h1{
  float: left;
}

.expand_button{
      padding: 14px 13px;
    margin-left: 10px;
    background-image: url("../img/bombardeigs_icons.png");
    background-position: -46px 0px;
    background-repeat: no-repeat;
    margin-top: 10px;
    cursor: pointer;
    display: flex;
    margin: 0 auto;
    text-align: center;
    width: 0px;
    margin-bottom: 10px;
    margin-top: 10px;
}

.typewriterContainer{
      z-index: 2;
    margin: 0px auto;
    position: absolute;
    width: 100%;
    top: 15%;
    font-size: 244%;

}



@media screen and (max-width: 1024px) {
    #menu {
        width: 100%;
        bottom: 35px;
    }
    .menu-container{
      padding: 15px 10px;
      height:25px;
    }
     .menu-container h2{
      font-size:100%;
    }
    #timeline {
        opacity:0.9;
        bottom: -15px;
    }
    .leaflet-control-layers{
      width:30px;
      opacity:0.9;
    }
    .leaflet-control-layers-list{
      opacity: 0.9;
    }

    .leaflet-control-layers-toggle{
      width: 30px !important;
      height: 30px !important;
    }
    .counter{
      font-size:100%;
      float:right;
    }
    .data{
      font-size:100%;

    }

    hr{
      display:none;
    }
    .title{
      display:none;
    }
    #ourvideo{
      display:none;
    }
    .typewriterContainer{
        font-size: 100%;


    }
    #typewriter{
        margin-left: 10px;
        mar
    }
    .leaflet-control-zoom{
        display: none;
    }
    .leaflet-control-search .search-button{
        width: 30px;
        border: 3px solid black;
    }
    #icone {
        top:11px;
        left:49px;
    }
    #icone img{
        width:150px;
    }
    #icone_ihr {
        width:150px;
        height:43px;
        left:49px;
        top:65px;
    }
    #icone_ihr img{
        height:34px;
    }
    #icone_ihr td{
        line-height: 110%;
    }
    #icone_ihr a{
      font-size: 1em;
    }
   
    #soundIcon{
        width: 40px;
        height: 40px;
        bottom: 100px;
        left: 35px;
    }
    #popupTuto{
        top: 60px;
        right: 30px;
    }
}

@media screen and (max-width: 449px) {
    #popupTuto{
        right: 10px;
    }
    #icone_ihr {
        left: 5px;
    }
    #icone {
        left: 5px;
    }
}

@media screen and (max-width: 400px) {
    #popupTuto{
        right: 10px;
        top: 81px;
    }
    #icone_ihr {
        left: 5px;
        top:55px;
    }
    #icone {
        left: 5px;
        top:6px;
    }
    .leaflet-control-layers{
        top:20px;
    }
}